<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="navbar">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" th:fragment="navbar">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title"><a class="mdl-navigation__link" th:href="@{/}">Sprinter</a></span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="">
                        <i class="material-icons">person</i>
                        <span th:text="${user.getName()}"></span>
                    </a>
                    <a class="mdl-navigation__link" th:href="@{~/logout}"><i class="material-icons">exit_to_app</i> Logout</a>
                </nav>
            </div>
        </header>
    </div>
</nav>
</body>
</html>