<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<ul id="slide-out" class="side-nav fixed grey lighten-5" th:fragment="project-sidenav">
    <li><a th:href="@{'/projects/' + ${project.getId()}}"><i class="material-icons">view_list</i>Projects</a></li>
    <li><a href="#!"><i class="material-icons">people</i>Teams</a></li>
    <li><a href="#!"><i class="material-icons">equalizer</i>Statistics</a></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
</body>
</html>