.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.row.content {height: 100%;}

.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
    position: absolute;
    float: left;
}

#site-content {
    float: right;
}

footer {
    background-color: #555;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:100%;}
}
