.brand-logo {
    margin-left: 15px;
}
.side-nav {
    margin-top: 64px;
    width: 240px;
}

#slide-out li {
    margin-top: 10px;
}
.center {
    text-align: center;
}
.card-image h4{
    padding: 20px 20px 35px 20px;
}
.card .btn-floating {
    float: right;
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.card i {
    position: relative;
    bottom: 13px;
    line-height: 19px;
}
.edit {
    display: none;
}

.modal form {
    padding: 80px;
}

.messageError {
    color: #f00;
}
/*.card.small {*/
    /*height: 200px;*/
/*}*/

/*.card.small .card-content{*/
    /*height: 80%;*/
/*}*/

/*.card.small span{*/
    /*height: 60%;*/
/*}*/