.brand-logo {
    margin-left: 15px;
}
.side-nav {
    margin-top: 64px;
    width: 240px;
}

#slide-out li {
    margin-top: 10px;
}
.center {
    text-align: center;
}
.card-image h4{
    padding: 20px 20px 35px 20px;
}
.card .btn-floating {
    float: right;
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.card i {
    position: relative;
    bottom: 13px;
    line-height: 19px;
}
.edit {
    display: none;
}
.card .userStoryCard {
    padding: 0;
}
.usGO {
    margin-left: 101px;
}
.radio-inputs{
    display: block;
    margin-bottom: 50px !important;
}
.radio-inputs label{
    margin-right: 60px;
}

.modal form {
    padding: 80px;
}
.toValid {
    margin-top:20px;
}
.messageError {
    color: #f00;
}
.collection a {
    color: #000;
    text-decoration: none;
}

.collection p {
    font-size: 14px;
    font-weight: 400;
    color: #3E3E3E;
}

.collection a li {
    border-bottom: 1px solid #e0e0e0 !important;
}