<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sprinter</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{~/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{~/css/mainpage.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="container">
        <div class="row text-center col-sm-offset-1 col-sm-10">
            <h1>404 NOT FOUND</h1>
            <h2>Sorry i'm to busy to find this page </h2>
            <img class="panda" th:src="@{~/img/404panda.jpg}" />
            <h2>Here's where you can go:</h2>
            <a th:href="@{/}"><h2>Home</h2></a>

        </div>
    </div>
</body>
</html>