<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sprinter</title>
    <meta charset="utf-8"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
    <link th:href="@{~/css/mainpage.css}" rel="stylesheet" type="text/css"/>
</head>
<body>

<header th:replace="fragments/navbar :: navbar"></header>
<div class="row">
    <div class="col s0 m2 grey lighten-5">
        <div th:replace="fragments/sidenav :: sidenav"></div>
    </div>
    <div class="col s12 m10">
        <div class="row">
            <div class="col s12 m4" th:id="${project.getId()}" th:each="project: ${projects}" >
                <div class="card grey lighten-5 z-depth-2">
                    <div class="card-content">
                        <h3 th:attr="data-id=${project.getId()}" th:text="${project.getName()}" class="card-title flow-text">Add new project</h3>
                        <p th:attr="data-project-end=${project.getEndDate()}, data-project-start=${project.getStartDate()}" th:text="'Deadline '  + ${project.getEndDate()}">Deadline: 20-02-2017</p>
                    </div>
                    <div class="card-action">
                        <a th:href="@{'/projects/' + ${project.getId()}}">Go to project</a>
                        <a class="btn-floating btn-large waves-effect waves-light red lighten-1 modal-trigger delete-button" href="#delete-project">
                            <i class="material-icons">
                                clear</i></a>
                        <a class="btn-floating btn-large waves-effect waves-light red lighten-1 modal-trigger edit-button" href="#modal2"><i class="material-icons">mode_edit</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red lighten-1 add-button btn modal-trigger pulse" href="#modal1">
            <i class="large material-icons">add</i>
        </a>
    </div>

</div>

<div id="modal1" class="modal">
    <form class="center addProject" method="POST" th:action="@{projects/new}">
        <div class="row">
            <div class="input-field col s6 m10 offset-m1">
                <label for="projectName">Project Name</label>
                <input name="projectName" id="projectName" type="text" />
                <span class="projectNameError messageError"></span>
            </div>
            <div class="input-field col s6 m10 offset-m1">
                <label for="startDate">Start Date</label>
                <input name="startDate" id="startDate" class="datepicker" type="date" />
                <span class="startDateError messageError"></span>
            </div>
            <div class="input-field col s6 m10 offset-m1">
                <label for="endDate">End Date</label>
                <input name="endDate" id="endDate" class="datepicker" type="date" />
            </div>
            <button class="btn waves-effect waves-light toValid" type="submit" name="action" disabled="disabled">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>
<div id="modal2" class="modal">
    <form class="center editProject" method="POST" th:action="@{projects/new}">
        <div class="row">
            <div class="input-field col s6 m10 offset-m1">
                <label class="active-dupa" for="projectNameEdit">Project Name</label>
                <input name="projectName" id="projectNameEdit" type="text" />
                <span class="projectNameError messageError"></span>
            </div>
            <div class="input-field col s6 m10 offset-m1">
                <label class="active" for="startDateEdit">Start Date</label>
                <input name="startDate" id="startDateEdit" class="datepicker" type="date" />
                <span class="startDateError messageError"></span>
            </div>
            <div class="input-field col s6 m10 offset-m1">
                <label class="active" for="endDateEdit">End Date</label>
                <input name="endDate" id="endDateEdit" class="datepicker" type="date" />
            </div>
            <button class="btn waves-effect waves-light toValid" type="submit" name="action" disabled="disabled">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>
<div id="delete-project" class="modal">
    <div class="modal-content">
        <h4>Are you sure you want remove this project?</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action waves-effect waves-green btn-flat yes">Yes</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">No</a>
    </div>
</div>


<!--<footer th:replace="fragments/footer :: footer"></footer>-->

<script th:src="@{~/webjars/jquery/1.9.1/jquery.min.js}" src="webjars/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script th:src="@{~/js/EditProject.js}" type="text/javascript"></script>
<!--<script th:src="@{~/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"-->
<!--src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
<script th:src="@{~/js/DeleteProject.js}" type="text/javascript"></script>
<script>
    function onSyneriseLoad() {
        SR.init({
            'trackerKey':'873DFEB2-4A49-952D-F964-69236B89FCFA',
      });
    }

    (function(s,y,n,e,r,i,se){s['SyneriseObjectNamespace']=r;s[r]=s[r]||[],s[r]._t=1*new Date(),
            s[r]._i=0,s[r]._l=i;var z=y.createElement(n),se=y.getElementsByTagName(n)[0];z.async=1;z.src=e;
        se.parentNode.insertBefore(z,se);z.onload=z.onreadystatechange=function(){var rdy=z.readyState;
            if(!rdy||/complete|loaded/.test(z.readyState)){s[i]();z.onload = null;z.onreadystatechange=null;}};
    })(window,document,'script','//www.snrcdn.net/sdk/3.0/synerise-javascript-sdk.min.js','SR', 'onSyneriseLoad');
</script>

</body>
</html>