<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Japanda" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sprinter Japanda</title>
    <link th:href="@{~/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/login.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" th:href="@{~/index}">Sprinter</a>
        </div>
        <form th:action="@{~/login}" method="POST" class="navbar-form navbar-right">
          <div class="form-group">
            <input th:type="text" class="form-control" id="username" name="username" th:placeholder="Login" th:required="required" th:autofocus="login"/>
            <input th:type="password" class="form-control" id="password" name="password" th:placeholder="Password" th:required="required"/>
          </div>
          <button type="submit" class="btn btn-default">Login</button>
        </form>
      </div>
    </nav>
    <div class="container text-center">
        <div th:if="${error != null}" th:text="${error}" class="alert alert-danger">ERROR</div>
        <h1>Sprinter - Codecool Management App</h1>
        <div id="logo">
            <img th:src="@{~/img/japanda.png}"/>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>

    <script th:src="@{~/webjars/jquery/1.9.1/jquery.min.js}" src="webjars/jquery/1.9.1/jquery.min.js"></script>
    <script th:src="@{~/webjars/bootstrap/3.3.6/js/bootstrap.min.js}" src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>