<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sprinter</title>
    <meta charset="utf-8"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
    <link th:href="@{~/css/mainpage.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<header th:replace="fragments/navbar :: navbar"></header>
<div class="row">
    <div class="col s0 m2 grey lighten-5">
        <div th:replace="fragments/sidenav :: sidenav"></div>
    </div>
    <div class="col s12 m10">
        <div class="row">
            <div class="col s12 m12 center" th:id="${userStory.getId()}" th:each="userStory: ${userStories}" >
                <div class="card grey lighten-5 z-depth-2">
                    <div class="card-content userStoryCard">
                        <h3 th:text="${userStory.getName()}" class="card-title flow-text">Add new project</h3>
                        <p class="description" th:text="${userStory.getDescription()}">Deadline: 20-02-2017</p>
                        <p class="priority" th:text="${userStory.getPriority()}">Deadline: 20-02-2017</p>
                    </div>
                    <div class="card-action">
                        <a class="usGO" th:href="@{${project.getId()} +'/user_story/'+ ${userStory.getId()}}">Go to user story</a>
                        <a class="btn-floating btn-large waves-effect waves-light red modal-trigger delete-button" href="#delete">
                            <i class="material-icons">
                                clear</i></a>
                        <a class="btn-floating btn-large waves-effect waves-light red modal-trigger edit-button" href="#edit-user-story-form"><i class="material-icons">mode_edit</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red add-button btn modal-trigger pulse add-story-button" href="#add-user-story-form">
            <i class="large material-icons">add</i>
        </a>
    </div>

</div>
<div id="add-user-story-form" class="modal">
    <form class="center addUserStory" method="POST" th:action="@{${project.getId()}  + '/user_story/new'}">
        <div class="row">
            <div class="input-field col s6 m10 offset-m1">
                <label for="userStoryName">Project Name</label>
                <input name="userStoryName" id="userStoryName" type="text" />
                <span class="storyNameError messageError"></span>
            </div>
            <div class="input-field col s6 m10 offset-m1">
                <label class="active" for="description">Start Date</label>
                <input name="description" id="description" class="datepicker" type="date" />
                <span class="startDateError messageError"></span>
            </div>
            <p>
                <input class="" name="priority" type="radio" id="priority-low" value="low"/>
                <label for="priority-low">Low</label>
            </p>
            <p>
                <input class="" name="priority" type="radio" id="priority-medium" value="medium"/>
                <label for="priority-medium">Medium</label>
            </p>
            <p>
                <input class="" name="priority" type="radio" id="priority-high" value="high"/>
                <label for="priority-high">High</label>
            </p>
            <span class="priorityError"></span>
            <button class="btn waves-effect waves-light toValid" type="submit" name="action" disabled="disabled">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>
<div id="edit-user-story-form" class="modal">
    <form class="center editUserStory" method="POST" th:action="@{${project.getId()}  + '/user_story/new'}">
        <div class="row">
            <div class="input-field col s6 m10 offset-m1">
                <label for="userStoryName">Project Name</label>
                <input name="userStoryName" id="userStoryNameEdit" type="text" />
                <input type="hidden" name="projectId" th:value="${project.getId()}"/>
                <span class="storyNameError messageError"></span>
            </div>
            <div class="input-field col s6 m10 offset-m1">
                <label class="active" for="description">Start Date</label>
                <input name="description" id="descriptionEdit" class="datepicker" type="date" />
                <span class="startDateError messageError"></span>
            </div>
            <p>
                <input class="" name="priority" type="radio" id="priority-lowEdit" value="low"/>
                <label for="priority-low">Low</label>
            </p>
            <p>
                <input class="" name="priority" type="radio" id="priority-mediumEdit" value="medium"/>
                <label for="priority-medium">Medium</label>
            </p>
            <p>
                <input class="" name="priority" type="radio" id="priority-highEdit" value="high"/>
                <label for="priority-high">High</label>
            </p>
            <span class="priorityError"></span>
            <button class="btn waves-effect waves-light toValid" type="submit" name="action" disabled="disabled">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>
<div id="delete" class="modal">
    <div class="modal-content">
        <h4>Are you sure you want remove this project?</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action waves-effect waves-green btn-flat yes">Yes</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">No</a>
    </div>
</div>
<script th:src="@{~/webjars/jquery/1.9.1/jquery.min.js}" src="webjars/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script th:src="@{~/js/UserStory.js}" type="text/javascript"></script>
</body>
</html>